h2 {
    font-size: 26px;
}

.crystal-image {
    width: 150px;
}

#crystals {
    padding-top: 15px;
    padding-left: 30px;
}

#you-win {
    display: none;
    color: magenta;
    animation-duration: 3s;
}

#you-lose {
    display: none;
    color: red;
    animation-duration: 3s;
}

#play-again {
    display: none;
}

.center-align {
    text-align: center;
}

.crystal-bag-header {
    margin-top: 30px;
}

.number {
    font-size: 42px;
    margin-top: 0;
}

button {
    width: 90px;
    margin: auto;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    animation: colorchange 10s;
    -webkit-animation: colorchange 10s;
}

@keyframes colorchange
{
    0%   {background: #ffe5ff;}
    20%  {background: #ffedcc;}
    40%  {background: #ffffb2;}
    60%  {background: #ccffff;}
    80%  {background: #ccccff;}
    100% {background: #ffe5ff;}
}

@-webkit-keyframes colorchange
{
    0%   {background: #ffe5ff;}
    20%  {background: #ffedcc;}
    40%  {background: #ffffb2;}
    60%  {background: #ccffff;}
    80%  {background: #ccccff;}
    100% {background: #ffe5ff;}
}
